/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


#checkout .product-category {
    display: block;
}

.popover.sub-menu {
    top : 71px !important;
}

.subcategory-slider {
    display: flex;
    overflow-x: auto;
 }
 
 .subcategory-item {
    margin: 10px;
    text-align: center;
 }
 
 .circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
 }
 
 .circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }